:root {
  --pink : #F67ACB;
  --purple : #5B1FA6;
  --gray-scale-01: #050110;
  --gray-scale-02: #0F0C1B;
  --gray-scale-03: #3F3D49;
  --gray-scale-04: #57555F;
  --gray-scale-05: #9995A6;
  --gray-scale-06: #ACB4BF;
}